@model CromosMundial.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Álbum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCromos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCromos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdicionEspecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdicionEspecial)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Cromos" asp-action="PorAlbum" asp-route-id="@Model?.Id">Ver Cromos</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
