@model CromosMundial.Models.Pais

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>País</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Continente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Continente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoFifa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoFifa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankingFifa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankingFifa)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Equipos" asp-action="PorPais" asp-route-id="@Model?.Id">Ver Equipos</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
