@model IEnumerable<CromosMundial.Models.Cromo>

@{
    ViewData["Title"] = "Cromos por álbum";
}

<h1>Cromos de @ViewData["AlbumNombre"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCromo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edicion)
            </th>
            <th>
                Jugador
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.NumeroCromo)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Edicion)
                </td>
                <td>
                    @item.Jugador?.Nombre
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Albumes" asp-action="Details" asp-route-id="@ViewData["AlbumId"]">Regresar a Álbum</a>
</div>
