@model CromosMundial.Models.Jugador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jugador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCamiseta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCamiseta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Model.FechaNacimiento.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
            Equipo
        </dt>
        <dd class = "col-sm-10">
            @Model.Equipo?.Nombre
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
