@model IEnumerable<CromosMundial.Models.Jugador>

@{
    ViewData["Title"] = "Jugadores por equipo";
}

<h1>Jugadores de @ViewData["EquipoNombre"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCamiseta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Posicion)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NumeroCamiseta)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Equipos" asp-action="Details" asp-route-id="@ViewData["EquipoId"]">Regresar a Equipo</a>
</div>
